body {
  font-family: Geneva,Tahoma,Verdana,sans-serif;
}

div {
  text-align: right;
/*  border: dotted;
  border-width: .1em;*/
  padding: 10px;
  margin-right: 30px;
  margin-top: 30px;
}

div a {
  padding-right: 8px; 
  padding-left: 8px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table img {
  width: 160px;
  height: 200px;
}

table img:hover {
  opacity: 1.0;
}

table img.frizzle {
  width: 100px;
  height: 200px;
}

table img.tina {
  width: 190px;
  height: 190px;
}

table img.sandi, .tina {
    border-radius: 50%;
}

h2 {
  text-align: center;
}

h3 {
  padding: 5px;
  background-color: gold;
  border-radius: 3px;
}

td  {
/*  border-style: dotted;
  border-width: .1em;*/
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

img:hover {
  opacity: 0.5;
}