body {
  background-image: 
    url("../images/purple_soundwave.png");
  background-size: 700px 600px;
  background-repeat: repeat-x;
  background-position: 0px 200px;
}

.centered {
  position: fixed;
  top: 35%;
  left: 40%;
  transform: translate(-30%, -30%);
}

p {
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 100px;  
}

button {
    border: dashed;
    border-width: .11em;
    border-radius: .5em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Geneva,Tahoma,Verdana,sans-serif;
    font-size: 18px;
    background-color: white;
    color: white;
}

button:focus {
  outline:0;
}

button.about {
  color: crimson;
}

button.about:hover{
  background-color: crimson;
}

button.talks {
  color: darkorange;
}

button.talks:hover{
  background-color: orange;
}

button.projects {
  color: seagreen;
}

button.projects:hover{
  background-color: darkgreen;
}

button.blog {
  color: navy;
}

button.blog:hover{
  background-color: navy;
}

button.fun {
  color: purple;
}

button.fun:hover{
  background-color: plum;
}

button:hover {
  color: white;
}